<div>
	<p>--- start below --</p>
	{{first-comp greeting="Greeting override!!"}}
	{{#link-to 'index'}}APP{{/link-to}} <br>
	{{#link-to 'homepage'}}HOME!{{/link-to}} <br>
	{{#link-to 'other'}}other!{{/link-to}}
</div>
{{outlet}}